<header class="{{ if or (.IsHome) (.RelPermalink | strings.HasPrefix "/tags/") }}header-home{{ else }}header-other{{ end }}">
	<div class="header-container">
		<div class="header-title">
			<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	  	</div>
	  	<ul class="header-menu">
			<li><a href="{{ .Site.BaseURL }}/tags">tags</a></li>
			<li><a href="{{ .Site.BaseURL }}/about">about</a></li>
			<button id="theme-toggle" aria-label="Toggle theme">
				<img src="{{ .Site.BaseURL }}dark.svg" alt="Dark mode" id="dark-icon">
				<img src="{{ .Site.BaseURL }}light.svg" alt="Light mode" id="light-icon">
			  </button>
		</ul>
	</div>
	{{ if not .IsHome }}
		<div class="progress-bar"></div>
  	{{ end }}
</header>
