{{ if and (not .IsHome) (not (in .RelPermalink "/tags/")) (not (in .RelPermalink "/about/")) }}
    {{ if .Params.featured_image }}
        <div class="pre-content" style="background-image: url('{{ .Params.featured_image }}');"></div>
        <div class="pre-title">
            {{ $dateMachine := .Date.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date.Format "January 2, 2006" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            <h1>{{ .Title }}</h1>
        </div>
    {{ else }}
	    <div class="pre-content"></div>
        <div class="pre-title">
            {{ $dateMachine := .Date.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date.Format "January 2, 2006" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            <h1>{{ .Title }}</h1>
        </div>
    {{ end }}
{{ end }}
