*, *:before, *:after {
	box-sizing: border-box;
}

@media (max-width: 500px) {
	@import url("min700.css");
}

/* >>>>> ================ COLOR_VAR =============== <<<<< */
:root {
	--primary-color: #e600ff;
	--white-color: #FFFFFF;
	--black-color: #181818;
	--dgray-color: #282828;
	--mgray-color: #e2e2e2;
	--lgray-color: #f2f2f2;

	--head-font-family: "Fira Code", monospace;
	--content-font-family: "Noto Sans KR", sans-serif;
}

body[data-theme="light"] {
	--background-color: var(--white-color);
	--text-color: var(--black-color);
	--gray-color: var(--lgray-color);
	--code-color: var(--mgray-color);
}

body[data-theme="dark"] {
	--background-color: var(--black-color);
	--text-color: var(--white-color);
	--gray-color: var(--dgray-color);
	--code-color: var(--mgray-color);
}

/* >>>>> ================ MAIN_CSS =============== <<<<< */
html {
	scroll-behavior: smooth;
}

.container {
	max-width: 540px;
	margin: 0 auto;
	padding: 0 20px;
  }

body {
	max-width: 540px;
	padding: 20px;
	text-align: left;
	color: var(--text-color);
	font-family: var(--content-font-family);
	letter-spacing: -0.4px;
	line-height: 1.8;
	background-color: var(--background-color);
	margin: 0 auto;
	word-break: keep-all;
	overflow-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	color: var(--primary-color);
	text-decoration: none;
}

/* >>>>> ================ HEADER_CSS =============== <<<<< */
.main-header {
	min-width: 540px;
	margin: 0 auto;
	font-size: 0.8rem;
	font-weight: 400;
	font-family: var(--head-font-family);
	background-color: var(--background-color);
	border-bottom: 1px solid var(--lgray-color);
  }
  
  .main-header nav {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
	margin-left: 14px;
  }

  .main-header nav li {
	margin-left: 14px;
  }

/* >>>>> ================ MARKDOWN_CSS =============== <<<<< */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
	font-family: var(--head-font-family);
    font-weight: 600;
	letter-spacing: -0.8px;
}

h1 {
    font-size: 1.6rem;
    line-height: 2.0;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.6;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4;
}

h4 {
    font-size: 1.0rem;
    line-height: 1.2;
}


h1::after {
	content: "	h1";
	font-size: 0.6em;
	font-weight: 300;
	color: #666;
}

h2::after {
	content: "	h2";
	font-size: 0.6em;
	font-weight: 300;
	color: #666;
}

h3::after {
	content: "	h3";
	font-size: 0.6em;
	font-weight: 300;
	color: #666;
}

h4::after {
	content: "	h4";
	font-size: 0.6em;
	font-weight: 300;
	color: #666;
}


div.content blockquote {
	font-weight: 500;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12pt;
	font-style: italic;
	letter-spacing: 0.5px;
	line-height: 1.8;
	margin: 0;
	padding: 4px 24px;
	border-left: 5px solid var(--primary-color);
	background-color: var(--gray-color);
}

div.content blockquote p {
	margin: 0;
}

p code {
	padding: 2px 4px 2px 4px;
	margin: 4px;
	border-radius: 4px;
	color: var(--black-color);
	background-color: var(--code-color);
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre {
	padding: 10px;
	border-radius: 4px;
	tab-size: 4;
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre code::before {
	content: attr(class);
	display: block;
	text-transform: uppercase;
	color: var(--white-color);
	padding: 0px 6px;
	text-align: right;
}

pre code::before {
	content: "" attr(data-lang);
}

hr {
	margin-top: 2px;
	margin-top: 6px;
	color: var(--lgray-color);
}

/* >>>>> ================ LIGHT/DARKMODE_CSS =============== <<<<< */
#theme-toggle {
	background: none;
	border: none;
	cursor: pointer;
}

#theme-toggle img {
	width: 16px;
	height: auto;
}

/* >>>>> ================ FOOTER_CSS =============== <<<<< */
footer {
	font-size: 10pt;
	color: var(--text-color);
	margin-top: 20px;
	margin-bottom: 60px;
}

/* >>>>> ================ SHORTCUT_CSS =============== <<<<< */
div.alert {
	width: auto;
	height: 40px;
	margin: 8px 0px;
	text-align: center;
	padding: 4px 0px 0px 0px;
	border-radius: 4px;
	background-color: var(--primary-color);
}

div.alert a {
	color: var(--white-color);
	font-weight:400;
	text-decoration: none;
}

div.alert a:hover {
	color: var(--dgray-color);
	font-weight:400;
	text-decoration: none;
}

div.freshquote {
	width: 100%;
	margin: 6px 0px;
	font-size: 14pt;
	font-style: italic;
	text-align: center;
	padding: 16px;
	border-left: 5px solid var(--primary-color);
	background-color: var(--gray-color);
}

div.commit {
    width: 100%;
}

div.commit img {
    display: block; /* 이미지가 블록 요소로 동작하도록 설정 */
    margin: 10px auto; /* 이미지의 좌우 여백을 자동으로 설정하여 중앙 정렬 */
    max-width: 540px; /* 최대 너비를 600px로 제한 */
    height: auto; /* 이미지의 종횡비를 유지하며 크기를 조정 */
}
