<header class="main-header">
	<nav>
		{{- range site.Menus.main }}
	    <li><a href="{{ .URL }}">/{{ .Name }}</a></li>
		{{- end }}
	  <li id="theme-toggle" style="cursor: pointer;">/todark</li>
	</nav>
  </header>

  <script>
	document.addEventListener('DOMContentLoaded', function() {
	  const themeToggle = document.getElementById('theme-toggle');
	  
	  // 로컬 스토리지에서 현재 테마를 가져옴, 기본값은 'light'
	  let currentTheme = localStorage.getItem('theme') || 'light';
  
	  // 페이지 로드 시 현재 테마 적용
	  document.body.setAttribute('data-theme', currentTheme);
	  themeToggle.textContent = currentTheme === 'dark' ? '/tolight' : '/todark';
  
	  // 테마 전환 함수
	  function toggleTheme() {
		// 현재 테마에 따라 새 테마를 결정
		const newTheme = document.body.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
  
		// 새 테마 적용
		document.body.setAttribute('data-theme', newTheme);
  
		// 로컬 스토리지에 새 테마 저장
		localStorage.setItem('theme', newTheme);
  
		// 버튼 텍스트 업데이트
		themeToggle.textContent = newTheme === 'dark' ? '/tolight' : '/todark';
	  }
  
	  // 버튼 클릭 시 테마 전환
	  themeToggle.addEventListener('click', toggleTheme);
	});
  </script>
